@import 'leaflet/dist/leaflet.css';
@import "tailwindcss"; 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.map {
  flex: 1;
  height: auto;
  z-index: 1;
  border-radius: 0.2rem;
  border: solid 1px #ccc;
}

.map-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}



.filterbar-container{
  display: grid;
  padding: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  align-items: center;
}
